<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NIMPlaceHolderIMInput</key>
	<dict>
		<key>zh-Hant</key>
		<string></string>
		<key>zh-Hans</key>
		<string></string>
		<key>ms</key>
		<string></string>
		<key>en</key>
		<string></string>
	</dict>
    <key>NIMFeedPublicFeedWayCamera</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPublicFeedWayAlbum</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMInputVoiceContainerAlert</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMSessionAudioRecordTimeShort</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMTimeAlertMonday</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMTimeAlertTuesday</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMTimeAlertWednesday</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMTimeAlertThursday</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
    <key>NIMPlaceHolderIMInput</key>
    <dict>
        <key>zh-Hant</key>
        <string></string>
        <key>zh-Hans</key>
        <string></string>
        <key>ms</key>
        <string></string>
        <key>en</key>
        <string></string>
    </dict>
</dict>
</plist>
